body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* CONFIGURANDO LA NAV BAR */

#nav-bar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    z-index: 99;
    background: transparent;
    transition: 0.5s;
}

#nav-list {
    display: flex;
    margin-top: 0.5rem;
    margin-right: 3rem;
    font-family: sans-serif;
    font-size: 20px;
    list-style: none;
    justify-content: space-around;
}

#nav-list li {
    padding: 20px;
}

#nav-bar ul li {
    list-style-type: none;
}

#nav-bar ul li a {
    text-decoration: none;
    color: white;
}

#logo {
    position: absolute;
    left: 150px;
    top: 15px;
    color: white;
    font-weight: bold;
    font-size: 40px;
}

#nav-bar.onScroll {
    background: #e91500;
    height: 10vh;
}

/* CONFIGURANDO LA LATERAL BAR Y CART BUTTON */

#lateral-bar {
    display: grid;
    width: 0px;
    height: 80%;
    background: white;
    position: fixed;
    border-radius: 20px 0 0 20px;
    top: 0;
    right: 0;
    z-index: 100;
    transition: 0.5s;
    overflow: hidden;
}

#lateral-bar #close-btn {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 50px;
    cursor: pointer;
}

#cart-text {
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.cart-box-items {
    position: relative;
    top: 30px;
    width: 400px;
    height: 400px;
    overflow: scroll;
}
.cart-box-items::-webkit-scrollbar {
    display: none;
}

/* DEFINIENDO ESTILO DE LOS ITEMS DENTRO DEL CART */
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: 0.5em;
    font-size: 1em;
}

.cart-item-image {
    margin-left: 5px;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    object-fit: cover;
}

.remove-btn {
    height: 40px;
    color: white;
    background-color: #e91500;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.remove-btn:active {
    background: darkred;
}

.cart-quantity-input {
    height: 34px;
    width: 40px;
    border-radius: 5px;
    background-color: #eee;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

/* DEFINIENDO EL TOTAL Y EL PURCHASE BUTTON */

.totalTitle {
    position: relative;
    top: 15px;
    z-index: 99;
}

.totalPrice {
    position: relative;
    top: 15px;
    z-index: 99;
}

.purchase-btn {
    position: relative;
    left: 34%;
    width: 150px;
    height: 50px;
    background: #00d5e1;
    color: white;
    border-radius: 10px 10px 10px 10px;
    border: none;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}
.purchase-btn:active {
    background: aqua;
}

#cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 85%;
    left: 92.5%;
    margin: 0;
    padding: 0;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #e91500;
    z-index: 999;
    cursor: pointer;
}
#cart-btn:active {
    filter: brightness(60%);
}

/* CONFIGURANDO EL WELCOME SECTION, FONDO Y TEXTO  */

#welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 70vh;
    width: auto;
    overflow: hidden;
}

#welcome-section #top-image {
    max-width: 100%;
    height: auto;
    filter: brightness(40%);
}

#welcome-text {
    position: absolute;
}

/* BOTON COMENZAR */

#button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: auto;
}

#start-button {
    width: 200px;
    height: 80px;
    background: #e91500;
    border-radius: 20px 20px 20px 20px;
    border: none;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

#start-button .button-link {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

#start-button:active {
    background: darkred;
}

/* MEDIA QUERIES DE WELCOME SECTION Y BUTTON */

@media (max-width: 500px) {
    #welcome-section #top-image {
        max-width: 100%;
        height: 70vh;
        filter: brightness(40%);
        object-fit: cover;
    }
    #button {
        width: 150px;
        height: 60px;
    }
}

/* CONFIGURANDO EL CHOOSING SECTION */

#choosing-section {
    color: white;
    width: 100%;
    height: auto;
}

#menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

#choosing-section-image {
    width: 100%;
    object-fit: cover;
    filter: brightness(40%);
}

#choosing-text {
    position: absolute;
}

/* CONFIGURANDO EL MENU */

#items-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(16, 120px);
    grid-template-areas:
        "titulo titulo titulo titulo"
        "pizzas pizzas pizzas pizzas"
        "muzza napo fugazzeta jamon-y-morron"
        "burgers burgers burgers burgers"
        "simple doble cheddar doble-cheddar"
        "bebidas bebidas bebidas bebidas"
        "coca-lata sevenup-lata fanta-lata pepsi-lata";
    position: absolute;
    top: 130px;
    width: 80%;
    height: 570px;
    background: white;
    border-radius: 20px 20px 20px 20px;
    color: black;
    justify-items: center;
    overflow: scroll;
    grid-row-gap: 60px;
}

#items-box::-webkit-scrollbar {
    display: none;
}

.titulo {
    grid-area: titulo;
    margin-top: 15px;
    font-size: 30px;
}

.pizzas {
    grid-area: pizzas;
    margin-top: -70px;
    font-size: 20px;
}

/* Clase para modificar las mismas propiedades en todos los items*/
.all-items {
    margin-top: -210px;
}

.all-items .add-to-cart-btn {
    cursor: pointer;
}

/* Clase para modificar las mismas propiedades en todos los items*/

.muzza {
    grid-area: muzza;
}

.napo {
    grid-area: napo;
}

.fugazzeta {
    grid-area: fugazzeta;
}

.jamon-y-morron {
    grid-area: jamon-y-morron;
}

.burgers {
    grid-area: burgers;
    margin-top: -65px;
    font-size: 20px;
}

.simple {
    grid-area: simple;
}

.doble {
    grid-area: doble;
}
.cheddar {
    grid-area: cheddar;
}

.doble-cheddar {
    grid-area: doble-cheddar;
}

.bebidas {
    grid-area: bebidas;
    margin-top: -65px;
    font-size: 20px;
}

.coca-lata {
    grid-area: coca-lata;
}

.sevenup-lata {
    grid-area: sevenup-lata;
}
.fanta-lata {
    grid-area: fanta-lata;
}

.pepsi-lata {
    grid-area: pepsi-lata;
}

.add-to-cart-btn {
    width: 100px;
    height: 40px;
    background: #00d5e1;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border: none;
    font-weight: bold;
    outline: none;
}

.add-to-cart-btn:active {
    filter: brightness(60%);
}

/* CONFIGURANDO LAS FOTOS DE LOS ITEMS */

.item-image {
    width: 150px;
    height: 150px;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
}

/* CONFIGURANDO EL ABOUT US SECTION */

#about-us-section {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    color: white;
    overflow: hidden;
}

#about-us-box {
    width: 100%;
    height: 800px;
}

#about-us-image {
    width: 100%;
    object-fit: cover;
    filter: brightness(40%);
}

#about-us-title {
    position: absolute;
    top: 80px;
    left: 200px;
    font-size: 100px;
}

#about-us-text {
    position: absolute;
    top: 290px;
    left: 60px;
    font-size: 25px;
}

.socialMediaBox {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    position: absolute;
    top: 70%;
    left: 24%;
}

.githubLogo,
.codepenLogo,
.instagramLogo {
    background: white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

/* NEW LIST FOOD SECTION */
.new-menu-section {
    width: 100%;
    height: 20vh;
    background: #ff5757;
}

.menu-section-box {
    position: relative;
    background: #ff5757;
    left: 30%;
    width: 700px;
    height: 20vh;
    overflow: hidden;
}

.new-list-p {
    position: relative;
    top: 20%;
    left: 10%;
    margin: 0;
    font-weight: bold;
}

.check-btn {
    position: relative;
    left: 18%;
    top: 45%;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}
.check-btn:active {
    background: lightgray;
}

.arrow {
    position: relative;
    top: 10%;
    left: 50%;
    width: 0px;
}

.list-item {
    position: relative;
    left: 60%;
    top: -75px;
    font-weight: bold;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100px;
    background: #e91500;
}

footer p {
    padding: 10px;
    margin: 0;
    font-size: 17px;
    font-weight: bold;
}
